alias mkdir='mkdir -p'
# echo "aliases sourced"
alias ..="cd .."
alias ...="cd ../.."

alias src='source ~/.bash_profile'
alias opba="open ~/.bash_profile"

# Pretty print path variables
alias path='echo -e ${PATH//:/\\n}'
alias libpath='echo -e ${LD_LIBRARY_PATH//:/\\n}'

alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"

alias odl='open $HOME/Downloads/'
alias ohm='open $HOME'
alias owk='open $HOME/work'
alias omd='open $HOME/mydocs'
alias odc='open $HOME/Documents'

# Enable aliases to be sudo’ed
alias sudo='sudo '

#show hidden files
alias show='defaults write com.apple.finder AppleShowAllFiles YES; killall Finder /System/Library/CoreServices/Finder.app'

#hide hidden files
alias hide='defaults write com.apple.finder AppleShowAllFiles NO; killall Finder /System/Library/CoreServices/Finder.app'

# typos
alias touvh='touch'
alias moer='more'

# me lazi
alias th='touch'
alias cs='clear'
alias py='python'
alias bi="cs && echo \"Bye bye :)\" && exit"
alias op="open ."

#'coz asdf are nearer than 123
alias xda="xd 1"
alias xds="xd 2"
alias xdd="xd 3"
alias xdf="xd 4"
alias xdg="xd 5"
alias xdh="xd 6"
alias xdj="xd 7"
alias xdk="xd 8"
alias xdl="xd 9"
alias xdm="xd 10"



# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

# Get macOS Software Updates, and update installed Ruby gems, Homebrew, npm, and their installed packages
alias update='sudo softwareupdate -i -a; brew update; brew upgrade --all; brew cleanup; npm install npm -g; npm update -g; sudo gem update --system; sudo gem update; sudo gem cleanup'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en0"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""


# Recursively delete `.DS_Store` files
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete"

# Empty the Trash on all mounted volumes and the main HDD.
# Also, clear Apple’s System Logs to improve shell startup speed.
# Finally, clear download history from quarantine. https://mths.be/bum
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl; sqlite3 ~/Library/Preferences/com.apple.LaunchServices.QuarantineEventsV* 'delete from LSQuarantineEvent'"

# URL-encode strings
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"'


#mute sound
alias stfu="osascript -e 'set volume output muted true'"


# Lock the screen (when going)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"


